<div>
    <p></p>
    <h3>Фильтр по цене</h3>
    <form novalidate ng-submit="loadProducts()">
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
            <label for="filterTitle">Название продукта</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterMinCost" placeholder="" ng-model="filter.min_cost">
            <label for="filterMinCost">Минимальная цена</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterMaxCost" placeholder="" ng-model="filter.max_cost">
            <label for="filterMaxCost">Максимальная цена</label>
        </div>
        <p></p>
        <button type="submit" class="btn btn-outline-warning btn-sm" style="width: 100%">Найти</button>
    </form>


    <p></p>
    <h3>Каталог товаров</h3>
    <p></p>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Действия</td>
        </tr>
        <tbody>
<!--        <tr ng-repeat="p in productsPage">-->
        <tr ng-repeat="p in productsPage.items">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button type="button" class="btn btn-outline-success" ng-click="addToCart(p.id)">Добавить в корзину
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation" ng-show="isThereIndex()">
        <ul class="pagination">
            <li class="page-item" ng-show="productsPage.page != 0">
                <button class="page-link" ng-click="previousPage(productsPage.page, 0)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
            <li class="page-item" ng-repeat="pageIndex in pagesList">
                <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
            </li>
            <li class="page-item" ng-show="productsPage.page != (indexNumber - 1)">
                <button class="page-link" ng-click="nextPage(productsPage.page, 2)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
        </ul>
    </nav>
</div>